<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dulichhaiphong">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Activity.BandoActivity"
            android:theme="@style/ThemeDitich"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LichsuphattrienActivity"
            android:theme="@style/ThemeLichsu"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.DitichlichsuActivity"
            android:theme="@style/ThemeDitich"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LehoiActivity"
            android:theme="@style/ThemeLehoi"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LangngheActivity"
            android:theme="@style/ThemeLangnghe"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.NhanvatlichsuActivity"
            android:theme="@style/AppThemeVinh"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Vinh_Dao_HangdongActivity"
            android:theme="@style/AppThemeVinh"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.FaQActivity"
            android:theme="@style/AppThemeFAQ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.RegiesterActivity"
            android:theme="@style/AppThemeLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.CapnhatPassActivity"
            android:theme="@style/AppThemeLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ComfirmEmailActivity"
            android:theme="@style/AppThemeLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HomeActivity"
            android:parentActivityName=".Activity.Trangchu"
            android:theme="@style/AppThemeHome"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppThemeLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ChitietBaiviet"
            android:theme="@style/ChiTietBaiVietTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Trangchu"
            android:theme="@style/TrangchuTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.DiaDiemTamLinh"
            android:theme="@style/OrangeTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Slider_Next"
            android:theme="@style/OrangeTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Slider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>